*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home_page{
    background-image: url(../image/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.intro_text{
    color:#ff2d75;
  }
  
  .intro_text h3{
    color:#5995fd !important;
  }
  
  @media (max-width:500px) {
    h1,h3,h2{
      font-size:16px;
    }
  }
  .line_through{
    text-decoration: line-through;
  }

.hidden{
  display: none !important;
}

.form-control:focus {
  border-color: #ff00cc !important;
  box-shadow: 0 0 0 0.2rem rgba(253, 101, 90, 0.25) !important;
 }